.App {
  font-family: 'Open Sans', sans-serif;
}

.App-header {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-bottom: 2px solid #e0354b;
}

.App-logo {
  width: 9rem;
  pointer-events: none;
}

.App-header h1{
  color: #e0354b;
  font-size: 1.5rem;
}

.App-body {
  height: 100vmin;
  border-bottom: 2px solid #e0354b;
}

.App-body p {
  font-size: 1rem;
  font-weight: 600;
  padding: 2rem;
}

.App-footer p {
  font-size: 0.7rem;
  font-weight: 600;
  text-align: center;
  font-style: italic;
}